<%- include('partials/header') %>

<div class="jumbotron">
    <h1 class="display-4">This is the purchase history!</h1>
</div>


<div class="container">
    <!-- test
    <% if(typeof orders !== 'undefined'){ %>
    <% } else { %>
        <div class="alert alert-warning" role="alert">
            No orders have been made!
        </div>
    <% } %>
</div>

<%- include('partials/footer') %>
