<%- include('partials/header') %>

<div class="jumbotron">
    <h1 class="display-4">Add Item</h1>
</div>

<div class="container">

    <% if(typeof error_message !== 'undefined'){ %>
        <div class="alert alert-danger" role="alert">
            <% if(typeof error_message === 'string'){ %>
                <%= error_message %>
            <% } else if(Array.isArray(error_message)){ %>
                <ul>
                <% error_message.forEach(function(message){ %>
                    <li><%= message %></li>
                <% }) %>
                </ul>
            <% } %>
        </div>
    <% } %>

    <form action="/new/item" method="POST">
        <div class="form-group">
            <label>Product Name</label>
            <input name="item_name" type="text" class="form-control" placeholder="Enter the name of the Product">
        </div>

        <div class="form-group">
            <label>Product Price</label>
            <input name="item_price" type="number" step="0.01" class="form-control" placeholder="Enter the price in $">
        </div>

        <div class="form-group">
            <label>Product Image</label>
            <input name="item_img" type="text" class="form-control" placeholder="Enter image name">
        </div>

        <div class="form-group">
            <label>Product Description</label>
            <input name="item_description" type="text" class="form-control" placeholder="Enter description">
        </div>

        <div class="form-group">
            <label>Product Genre</label>
            <input name="item_genre" type="text" maxlength="20" class="form-control" placeholder="Enter Genre">
        </div>

        <button type="submit" class="btn btn-primary">Add Item</button>

    </form>

    <br>

    <a class="btn btn-warning" href="/">return</a>
</div>


<%- include('partials/footer') %>
